body {
  margin: 0px;
  font: 13px/27px Roboto, Arial, sans-serif;
  color: #5f6368;
  background: white;
}
header {
  margin: 0px;
  border: none;
  display: flex;
  justify-content: right;
  padding: 6px;
}
.contenido-header {
  display: flex;
  justify-content: right;
  padding-right: 4px;
}
.alineados {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outside-links {
  padding-right: 15px;
}
.outside-links div {
  padding-left: 15px;
}
.outside-links a {
  text-decoration: none;
  color: currentColor;
}
.outside-links a:hover {
  text-decoration: underline;
}
.applications-icon {
  padding: 8px;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.applications-icon:hover {
  background-color: rgb(204, 204, 204);
}
.applications-icon svg {
  fill: #5f6368;
  height: 25px;
  width: 25px;
}
.applications-icon a {
  height: 25px;
  width: 25px;
  display: block;
}
.perfil-image button {
  background-color: #1a73e8;
  color: white;
  border-radius: 5px;
  border: none 0.64px;
  padding: 9px 23px 9px 23px;
  margin: 0 8px 0 8px;
}

#logo {
  width: 45%;
}
.google-logo {
  display: flex;
  justify-content: center;
  height: 200px;
}
.google-logo div {
  display: flex;
  align-items: end;
  justify-content: center;
}
.search-bar {
  display: flex;
  justify-content: center;
}
.search-bar div {
  width: 480px;
  border: solid #9aa0a6 1px;
  border-radius: 30px;
  display: flex;
  padding: 0px 8px 0px 14px;
  align-content: center;
}
#search-logo {
  fill: #9aa0a6;
  width: 24px;
  margin: 9.6px 0px 9.6px 0px;
  padding-right: 2%;
}
#search-field {
  width: 80%;
  font-size: 16px;
  border: none;
}
#search-field:focus {
  border: none;
  outline: none;
}
#voice-search-icon {
  width: 24px;
  padding: 0px 8px 0px 8px;
}
#image-search-icon {
  width: 24px;
  padding: 0px 8px 0px 8px;
}
#cancel-search-icon {
  width: 24px;
  fill: #5f6368;
}
.middle-section {
  padding: 20px;
}
.search-and-lucky {
  display: flex;
  justify-content: center;
  padding-top: 18px;
}
.search-and-lucky button {
  padding: 0px 16px 0px 16px;
  border: 9px;
  margin: 11px 4px 11px 4px;
  font-size: 14px;
  font-family: arial, sans-serif;
  background-color: #f8f9fa;
  height: 34px;
  border-radius: 5px;
}
.search-and-lucky button:hover {
  box-shadow: 0px 0px 5px 0px #b8b8b8;
}
footer {
  background-color: #ebebeb;
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  overflow: hidden;
  color: #70757a;
}
.pais {
  padding: 15px 30px 15px 30px;
  border-bottom: solid 1px #dadce0;
  font-size: 14px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links a {
  text-decoration: none;
  color: currentColor;
  padding: 15px;
}
.footer-links a:hover {
  text-decoration: underline;
}
.left {
  display: inline-flex;
}
.right {
  display: inline-flex;
}
